////
/// @author Pedr Browne (extracted from Compass Vertical Rhythm by Eric M. Suzanne).
/// @group API
/// @access public
////

/// Establish a rhythm throughout the document using a font-size and line-height.
///
/// @param {Number} $font-size ($rhythm-base-font-size)
///  The font-size to use as base
///
/// @output
///  Render html element with `font-size` and `line-height` set.
///
@mixin rhythm-establish($font-size: $rhythm-base-font-size, $line-height: $rhythm-base-line-height) {
  $processed-values: rhythm-process-base-values($font-size, $line-height);

  // Render HTML element
  html {
      font-size: nth($processed-values, 1);
      line-height: nth($processed-values, 2);
  }
}

/// Adjust a block to have a different font size and line height to maintain the
/// rhythm. `$lines` specifies how many multiples of the baseline rhythm each line
/// of this font should use up. It does not have to be an integer, but it
/// defaults to the smallest integer that is large enough to fit the font.
/// Use `$from-context` to adjust from a font-size other than the base font-size.
///
/// @param {String} $font-size
///  The font-size for this block
///
/// @param {Number} $lines
///  The number of rhythm units (lines) each line of text should should fill.
//
/// @param {Number} $from-context
///  The context of the block (when using ems)
///
/// @output
///  Output the calculated `font-size` and `line-height`.
///
@mixin rhythm($font-size, $lines: auto, $from-context: $rhythm-base-font-size) {
  $font-size: rhythm-convert-value($font-size, px, $from-context);

  @if $lines == auto {
    $lines: rhythm-lines-for-font-size($font-size);
  }
  @include rhythm-render-property(font-size, convert-length($font-size, $rhythm-unit, $from-context));
  @include rhythm-render-leading($lines, $font-size);
}

/// Adjust a block to have different line height to maintain the rhythm.
/// `$lines` specifies how many multiples of the baseline rhythm each line of this
/// font should use up. It does not have to be an integer, but it defaults to the
/// smallest integer that is large enough to fit the font.
///
/// @param {String} $lines
///  The number of lines each line of text should take up.
///
/// @param {String} $font-size ($rhythm-base-font-size)
///  The font-size.
///
/// @output
///  The line-height.
///
@mixin rhythm-render-leading($lines, $font-size: $rhythm-base-font-size) {
  @include rhythm-render-property(line-height, rhythm-value-for-lines($lines, $font-size));
}